<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Startup Pitch Perfect - Battledecks for Startups</title>

		<meta name="description" content="A website that automatically generates a battledeck startup pitch">
		<meta name="author" content="Sebastian Ruder">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="/css/reveal.min.css">
		<link rel="stylesheet" href="/css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="/lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = '/css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

        <!-- WTFEngine scripts -->
        <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.2/zepto.min.js"></script>-->
        <script src="/js/zepto.min.js"></script>
		<script>window.Zepto || document.write('<script src="/js/vendor/zepto.min.js"><\/script>')</script>
		<script src="/js/wtf.js"></script>
		<script src="/js/wtf_main.js"></script>

        <!-- Chart.js https://github.com/FVANCOP/ChartNew.js -->
        <script src="/js/ChartNew.js"></script>
        <script src="/js/charts.js"></script>

		<!--[if lt IE 9]>
		<script src="/lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
                    <article>
                    </article>
					<h2>Startup Pitch Perfect</h2>
					<h4><a href="http://en.wikipedia.org/wiki/Powerpoint-Karaoke">Battledecks</a> for Startups</h4>
                    <div id="elevator_pitch">
                        <noscript>
                            Please enable Javascript.
                        </noscript>
                    </div>
                    <a id="generate" href="#" title="Pitch me again!"></a>
                    <p>
						<small>Created by <a href="http://sebastianruder.com">Sebastian Ruder</a> / <a href="http://twitter.com/rudersebastian">@rudersebastian</a><br>
                            Using <a href="https://github.com/hakimel/reveal.js">reveal.js</a>, <a href="https://github.com/FVANCOP/ChartNew.js">ChartNew.js</a> and <a href="https://github.com/soulwire/WTFEngine">WTFEngine</a><br>
                            Inspired by <a href="http://itsthisforthat.com/">ItsThisForThat</a>
                        </small>
					</p>

				</section>

				<section>
                    <h2>Traction</h2>
                    <canvas id="traction_chart"></canvas>
	            <script></script>

				</section>

				<section>
			        <h2>Market opportunity</h2>
                    <div id="market"></div>
				</section>

				<section>
					<h2>Problem</h2>
                    <div id="problem"></div>
                    <canvas id="problem_chart" width="400%" height="400%"></canvas>
				</section>

				<section>
					<h2>Product</h2>
                    <div id="product"></div>
				</section>

				<section>
					<h2>Business model</h2>
                    <div id="revenue"></div>
                    <canvas id="revenue_chart" width=400%" max-width=800px height=auto></canvas>
				</section>

				<section>
					<h2>Market approach and strategy</h2>
                    <div id="strategy"></div>
				</section>

				<section>
					<h2>Team</h2>
                    <div id="team"></div>
				</section>

                <section>
					<h2>Financials</h2>
                    <div id="financials"></div>
				</section>

                <section>
					<h2>Competition</h2>
                    <div id="competition"></div>
				</section>

                <section>
					<h2>Investment</h2>
                    <div id="investment"></div>
				</section>
			</div>

		</div>

		<script src="/lib/js/head.min.js"></script>
		<script src="/js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: '/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: '/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
